.red-glow-gradient {
  background: #cf3030;
  background: radial-gradient(
    circle farthest-corner at center center,
    #3e8ab3 0%,
    #78A7C0 50%,
    #3e8ab3 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

.pulse {
  position: relative;
  z-index: -1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: pulse 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 80px #78A7C0);
  }
  50% {
    filter: drop-shadow(0 0 40px #78A7C0);
  }
  100% {
    filter: drop-shadow(0 0 80px #78A7C0);
  }
}